{{/* gotype: entgo.io/ent/entc/gen.Graph */}}

{{ define "http/delete" }}
    {{- with extend $ "Package" "http" -}}
        {{ template "header" . }}
    {{ end }}
    {{ template "helper/http/import" $ }}

    {{ $pkg := base $.Config.Package }}
    {{ range $n := $.Nodes }}
        // @Summary Delete a {{ $n.Name }}
        // @Description Delete a {{ $n.Name }}
        // @ID Delete a {{ $n.Name }}
        // @Tags [{{ $n.Name }}]
        // @Accept  json
        // @Produce  json
        // @Param id path int true "{{ $n.Name }} ID"
        // @Success 200 {object} {{ $pkg }}.{{ $n.Name }}
        // @Failure 400 {object} main.HTTPError
        // @Failure 404 {object} main.HTTPError
        // @Failure 500 {object} main.HTTPError
        // @Router /{{ $n.Name | lower }}/{id} [delete]
        // Delete removes a {{ $pkg }}.{{ $n.Name }} from the database.
        func (h {{ $n.Name }}Handler) Delete(c *fiber.Ctx) error {
            l := h.log.With(zap.String("method", "Delete"))
            {{- template "helper/http/id-from-url" $n -}}
            var r http.Request
	        fasthttpadaptor.ConvertRequest(c.Context(), &r, true)
            err = h.client.{{ $n.Name }}.DeleteOneID({{ if $n.ID.HasGoType }}{{ $n.ID.Type }}(id){{ else }}id{{ end }}).Exec(r.Context())

            {{-
                template "helper/http/error-handling" dict
                "Errors" (list "not-found")
                "Logs" (list (printf "zap.Int(\"%s\", id)" $n.ID.Name))
                "Default" (print "could not delete " $n.Name | kebab)
            -}}

            l.Info("{{ $n.Name | kebab }} deleted", zap.Int("{{ $n.ID.Name }}", id))
            return c.SendString("Delete successfully")
        }
    {{ end }}
{{ end }}